* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(var(--bg-color));
}


:root {
  --bg-color: 194, 192, 183;
  --primary-color: 78, 188, 151;
  --secondary-color: 136, 190, 167;
  --highlight-color: 252, 192, 199;
  --dark-color: 31, 30, 30;
}